default:

  # General parameters.
  verbose:
    default: true
    help: "Whether to print INFO messages. (Other message types (WARNING and ERROR) are always shown.)" 
  dir:
    default: "C:/Users/aelhabr/Documents/projects/nba-rapm/R"
    help: "Working directory. MUST exist. (Note that the user most certainly will need
    to change the default value, which is primarily specified for the convenience of the developer."
  multi_core:
    default: true
    help: "Whether to use multiple user computer cores."
  n_core:
    default: 4
    help: "Number of cores to use. Only relevant if `multi_core = TRUE`.
    (Requires `{parallel}` package, as well as `{doParallel}` package on Windows.)"
  season:
    default: 2016
    help: "NBA season to process. Used as \"suffix\" for all path formats 
    (where it is subsituted in placed for the \"sprintf\"-style format \"04d\")."
    
  # Data pre-processing (i.e. cleaning) parameters.
  skip_clean:
    default: false
    help: "If `TRUE`, skips process of cleaning the raw data
    and goes immediately to \"intermediate\" data processing steps.
    In this case, intermediate data for given season MUST exist."
  path_raw_play_by_play_format:
    default: "data-raw/play_by_play_with_lineup/play_by_play_with_lineup_%s.csv"
    help: "Path format of raw play-by-play data file to clean. (Here, \"data\"
    refers to play-by-play data.)"
  path_raw_game_summary_format:
    default: "data-raw/raw_game_summary/raw_game_summary_%s.csv"
    help: "Path format of raw game summary data file. Needed solely for identifying
    home and away teams, which is not defined in `play_by_play_raw` data from source."
  export_clean:
    default: true
    help: "If `TRUE`, cleaned `play_by_play` data is exported. This is what
    is being referenced by `data` in all parameters/varaibles afterwards."
  path_play_by_play_format:
    default: "data/data-clean-%04d.csv"
    help: "Path formatt of cleaned play-by-play data file to export.
    Only relevant if `export_clean = TRUE` or if `import_munge = TRUE` (in which
    case, it is used as the \"input\" to the intermediate processing)."
  
  skip_munge:
    default: false
    help: "If `TRUE`, skips \"munging\" of cleaned data
    and goes immediately to \"fit\" (i.e. model fitting) steps.
    In this case \"post\"-munging data for given season MUST exist.
    (In all, its functionality is analogous to `import_clean`.)"
  export_munge:
    default: true
    help: "If `TRUE`, exports \"wide\" intermediary data (i.e. `possession_data_*`) 
    and player data (i.e. `players_*`)."
  path_possession_data_o_format:
    default: "data/data-wide-o-%04d.rds"
    help: "Path format of \"wide\" offensive possession data. 
    Only relevant if `export_munge = TRUE` OR if `import_fit = TRUE` (in which
    case, it is used as the \"input\" to the model fitting step)."
  path_possession_data_d_format:
    default: "data/data-wide-d-%04d.rds"
    help: "Analogous to `path_possession_data_o_format`."
  path_players_format:
    default: "data/players-%04d.csv"
    help: "Format of cleaned player data to export.
    Only relevant if `export_munge = TRUE`.
    Not a dependency for any other data processing. Simply useful for informative purposes."
  path_players_summary_format:
    default: "data/players-summary-%04d.csv"
    help: "Format of summarized cleaned player data to export.
     Relevant in the same cases as `path_possession_data_o_format`.
     Used to add names and other player-relevant information to final output."
   
  skip_fit:
    default: false
    help: "If `TRUE`, then skips model fitting steps.
    (There is probably no case in which the user would want to set this to `FALSE`, 
    but it can be useful to set this to `FALSE` for development/debugging purposes.)"
  export_fit:
    default: true
    help: "If `TRUE`, exports fitted regularized models for possession data.
    (The same caveat about setting `skip_fit = TRUE` is applicable here as well.)"
  path_rapm_fit_o_format:
    default: "data/rapm-fit-o-%04d.rds"
    help: "Path format of RAPM model fitted for offensive possession data.
    Only relevent if `export_fit = `TRUE`."
  path_rapm_fit_d_format:
    default: "data/rapm-fit-d-%04d.rds"
    help: "Analogous to `path_rapm_fit_o_format`."
    
  skip_finalize:
    default: false
    help: "If `TRUE`, then skips final steps of extracting RAPM estimates from 
    fitted models. (More specifically, assumes that
    `path_rapm_estimates_*` files exist, and combines these two data sets (`rapm_estimates_*`)
    to create `rapm_estimates`.)"
  export_finalize:
    default: true
    help: "If `TRUE`, exports offensive, defensive, and combined RAPM estimates."
  path_rapm_estimates_o_format:
    default: "data/rapm-estimates-o-%04d.csv"
    help: "Path format of final the player-specific offensive RAPM estimates.
    Only relevent if `export_finalize = `TRUE`."
  path_rapm_estimates_d_format:
    default: "data/rapm-estimates-d-%04d.csv"
    help: "Analogous to `path_rapm_estimates_o_format`."
  path_rapm_estimates_format:
    default: "data/rapm-estimates-%04d.csv"
    help: "Combined offensive and defensive RAPM estimates."

  # Model-fitting parameters.
  season_type:
    default: "RegularSeason"
    help: "Valid choices include \"RegularSeason\", \"Playoffs\", or \"Both\"."
  poss_min:
    default: 200
    help: "Minimum number of possession in which a player must have 
    participated  (offense and defense combined) in order to qualify for model fitting process.
    (Model quality generally improves if players with less time played are removed
    from consideration because they can represent outliers and have high leverage on 
    the model fitting.)"
  gp_min:
    default: 0
    help: "Analogous to `poss_min` for games played."
  mp_min:
    default: 0
    help: "Analogous to `poss_min` for minutes played."
  optimize_o:
    default: false
    help: "If `TRUE`, then calculates the \"optimal\" regularized
    \"lambda\" penalties for the offensive at run-time (via `{glment}`'s default cross validation procedure.
    Note that setting this value to `FALSE` (and using the default `lambda_optm_o` value),
    reduces run-time execution."
  optimize_d:
    default: false
    help: "Analogous to `optimize_lambda_o`."
  seed_o:
    default: 42
    help: "Seed to use for ridge regression cross-validation."
  seed_d:
    default: 42
    help: "Analogous to `seed_o`."
  lambda_o:
    default: 200
    help: "Value to use for lambda in model fit if `optimize_lambda_o = FALSE`."
  lambda_d:
    default: 200
    help: "Analogous to `lambda_optm_o`."

production:

# ```r
# config <- config::get()
# ```
